@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --color-text-alt: #f7fafc;
  --color-text-user: #1649e0;
  --color-text-directory: #F92672;
  --color-text-user-home: #007ea7;
}

.theme-dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
  --color-text-alt: #2d3748;
  --color-text-user: #A6E22E;
  --color-text-directory: #AE81FF;
  --color-text-user-home: #66D9EF;
}
